img{
    width: 80%;
    margin-left: 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

table, th, td{ 
    margin-top: 15px;
    padding: 3px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgb(138, 138, 138);
    color: #eee;
}

