


img{
    width: 80%;
    margin-left: 10px;
}
/*Trespaltslayout*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
/*Detta gör så att tabellen är i mitten av griden*/
.center {
    margin-left: auto;
    margin-right: auto;
  }
/*Trycker ner tabellen och gör alla borders rundade*/  
table, th, td{ 
    margin-top: 15px;
    padding: 3px;
    border-radius: 10px;
}

th, td{
    border: 1px solid black;
}



tr:nth-child(even){
    background-color: rgb(138, 138, 138);
    color: #eee;
}

tr:nth-child(odd){
    background-color: #eee;
    color: rgb(0, 0, 0);
}

dl{
    font-size: 2ex;
}


