.mainform{
    margin-top: 35px;
    padding-left: 30px;
}

form{
    display: grid;
   width: 300px;
}

.text{
    margin: 10px;
}

input[required]::after{
    content: "<- Required";
    color: red;
    
}