/*Flyttar att åt höger ner*/
section{
    margin-top: 25px;
    padding-left: 10px;
}

section, p{
    font-family: 'Grape Nuts', cursive;
}

@font-face {
    font-family: 'Grape Nuts';
    src: url(https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap);
}


