/*Gör så att texten börjar lite utanför sidan och så att den inte är inuti box shadown*/
.MainText{
    padding-top: 15px;
    padding-left: 3px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}















































