/*Gör så att texten börjar lite utanför sidan och så att den inte är inuti box shadown*/

.Bilder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.Bilder img{
    width: 100%;
}

















































