section{
    margin-top: 25px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bike{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Bilden med vr är 100% width*/
#img{
    width: 100%;
}

/*Grid åt de 3 yt videorna*/
.yt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Gör så att alla iframe med namnet youtube i sig får en width på 100%*/
iframe[src*="youtube"]{
    width: 100%;
    height: 300px;

}
