.MainText{
    margin-top: 15px;
    padding-left: 15px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

body{
    margin: 0;/*Gör så att det inte är ett gap mellan headern och toppen av sidan*/
    background-color: #eee;
}


/*Gör att alla block ser bra ut och att de läggs jämte varandra, samt en box shadow under*/
nav ul{
    display: grid; 
  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12vh;
    grid-gap: 20px;

    background-color: rgb(0, 0, 0);

    padding: 0;
    margin: 0;

    box-shadow: 10px 10px 10px 15px rgb(0, 0, 0);
    
    list-style: none;  
 }

/*Gör att länken är ett block och att texten inte har något sträck under sig*/
nav a{
    display: block;
    block-size: 100%;
    text-decoration: none;
    background-color: rgb(104, 104, 104);
}

nav a:hover{
    background-color: rgb(161, 159, 159);
}

/*Texten inuti global naven blir i mitten av blocket*/
nav p{
    margin: auto;
    width: auto;
    text-align: center;
    padding-top: calc(6vh - 0.5em);
    color: #eee;
}


/*Gör att footern gör det den ska*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: hsl(180, 30%, 30%);
    color: #eee;
    text-align: center;
    font-size: 2em;
}

/*Gör att footern inte blir lika stor*/
footer > p{
    margin: 10px;
}   


/*Om sitt fönster är mindre än 1200px så minskar globalnaven så den inte tar upplika mycket plats.*/
@media screen and (max-width: 1200px){
    nav ul{
        box-shadow: 5px 5px 5px 10px rgb(0, 0, 0);
        grid-gap: 15px;
    }
}

