body{
    margin: 0;/*Gör så att det inte är ett gap mellan headern och toppen av sidan*/
    background-color: #eee;
}



nav ul{
    display: grid; 
  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12vh;
    grid-gap: 20px;

    background-color: rgb(0, 0, 0);

    padding: 0;
    margin: 0;

    box-shadow: 10px 10px 10px 15px rgb(0, 0, 0);
    
    list-style: none;

    text-align: center;
    
 }

nav li{
    display: inline-block;
}


nav a{
    display: block;
    block-size: 100%;
    text-decoration: none;
    background-color:   rgb(104, 104, 104);
    
}

nav a:hover{
    background-color: rgb(161, 159, 159);
}
